body {
    margin: 0 auto;
    padding: 0 15px;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 1.428571429;

    -webkit-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
}
@media (min-width: 750px) {
    body {
        max-width: 900px;
    }
}

img.logo {
  max-width:110%;
  text-align:left;
  display: block;
  margin-left: 0px;
}

.img {
  height: fit-content;
  max-width: min-content;
  text-align:center;
  display: flex;
  float: left;
}

.img-sized {
    max-width: 200px;
    max-height: 200px;
    padding-right: 16px;
    height: fit-content;
    max-width: min-content;
    float: left;
}

.pphi {
    max-height: max-content;
    height: max-content;
    display: inline-block;
    margin-bottom: 10px;
}

.pph {
    max-height: max-content;
    height: max-content;
    display: block;
    margin-bottom: 10px;
}

.container {
    display: flow-root;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.avatar {
  float: left;
  border: 0px;
  /*padding-right: 15px;*/
  margin-right: 28px;
  border-radius: 8px;
}

.pix {
  float: left;
  border: 0px;
  margin-right: 8px;
}

a.self, a.self:hover, a.self:focus {
  color: white;
  border-radius:5px;
  border: 1px #3d85c6 solid;
  overflow: hidden;
  background-color: #3d85c6;
}

h1, h2, h3, h4, h5, h6, nav, #versioninfo {
    font-family: "Verdana",  Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
    line-height: 1.1;
}
h1, h2, h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.hmargin {
    margin-top: 50px;
    margin-bottom: 10px;
}

h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 100;
    padding: 0 0px;
    font-size: 32px;
    margin-bottom: 20px;
    /*border-bottom: .1px solid #888;*/
}

 /* Style the navigation bar */
 .navbar {
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    vertical-align: middle;
    /* padding: 12px; */
    text-decoration: none;
    font-size: 17px;
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } 

/** I will probably add these verbatim for the Latex and Html versions*/
h1.title {
    font-size: 65px;
    font-weight: 100;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 40px; /*leave some space under*/
    text-align: left;
    border-left: 6px solid #3d85c6;
    padding: .1em .1em;
}

a.top-version {
  font-size: 15px;
  color: white;
  border-radius:5px;
  border: 1px #3d85c6 solid;
  overflow: hidden;
  background-color: #3d85c6;
}

h1.subtitle {
    font-size: 25px;
    font-weight: 100;
    margin-right: 20px;
    margin-top: 0px;
    margin-top: -40px; /*if attached under title, lift to cover empty space*/
    margin-bottom: 40px; /*leave some space under*/
    text-align: left;
    border-left: 6px solid #3d85c6;
    padding: .1em .3em;
}

h2.author {
    line-height: 1.8em;
    font-size: 20px;
    font-weight: 100;
    margin-right: 0px;
    margin-top: -40px; /*if attached under title, lift to cover empty space*/
    margin-bottom: 40px; /*leave some space under*/
    text-align: left;
    border-left: 6px solid #3d85c6;
    padding: .2em .5em;
}

h3.extras {
  line-height: 1.8em;
  font-size: 18px;
  font-weight: 100;
  margin-right: 0px;
  margin-top: -55px;/*if attached under title or author, lift to cover empty space*/
  margin-bottom: 40px; /*leave some space under*/
  text-align: left;
  font-style: italic;
  border-left: 6px solid #3d85c6;
  padding: .2em .5em;
}

p {
    margin: 0 0 1em 0;
}

/* Links layout */

a {
    text-decoration: none;
    color: #3d85c6;
    background: transparent;
}
a:hover, a:focus {
    color: #3d85c6;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted #3d85c6;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}

strong {
    font-weight: bold;
    color: #053c80;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eeeeee;
}
